<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/background.css">
    <script src="/js/bootstrap.min.js"></script>

    <title>Project: deletefilms</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Filmoteka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Strona główna </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/projects">Dodaj film<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>
<main>
<form>
    <h2>Lista filmów</h2>
    <table class="table table-responsive">

        <th >
        <td>ID</td>
        <td>Tytuł</td>
        <td>Rok produkcji</td>
        <td>Opis</td>
        <td>Linki</td>
        <td></td>
        </th>

        <!--/*@thymesVar id="films" type="java.util.List<com.example.project1.accessToData.model.Film"*/-->
        <tr th:each="film : ${films}">
            <td/>
            <td th:text="${film.getId()}"/>
            <td th:text="${film.getTitle()}"/>
            <td th:text="${film.getProductionYear()}"/>
            <td th:text="${film.getDescryption()}"/>
            <td th:text="${film.getLink()}"/>


            <td >
                
                <a th:href="@{delete/__${film.getId()}__}" class="btn btn-danger">Delete</a>
            </td>
        </tr>

    </table>

</form>

</main>

</body>
</html>