<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/background.css">
    <script src="/js/bootstrap.min.js"></script>

    <title>Project: films</title>
    <style>
        .Bdc\(red\) {
            border-color: red !important;
        }
        .C\(red\){
            color: red;
        }

    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">Filmoteka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Strona główna </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <h3> Dodaj Film</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <h1 th:if="${message != null}" th:text ="${message}"></h1>
                <form action="#" th:action="@{/admin/addFilm}" th:object="${film}" method="post">
                    <p class="C(red)" th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="title" class="col-form-label">Tytuł</label>
                            <input type="text" th:field="*{title}" class="form-control"
                                   id="title" placeholder="Tytuł" th:errorclass="'Bdc(red)'" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="productionYear" class="col-form-label">Rok produkcji</label>
                            <input type="date" th:field="*{productionYear}" class="form-control"
                                   id="productionYear" placeholder="Rok Produkcji" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="descryption" class="col-form-label">Opis</label>
                            <input type="text" th:field="*{descryption}" class="form-control"
                                   id="descryption" placeholder="Opis" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="link" class="col-form-label">Linki</label>
                            <input type="text" th:field="*{link}" class="form-control"
                                   id="link" placeholder="Link" th:errorclass="'Bdc(red)'"/>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>