<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Filmoteka - twoja baza linków do filmów">
    <meta name=”robots” content="index, nofollow">
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/background.css">
    <script src="/js/bootstrap.min.js"></script>

    <title>Filmoteka - Film</title>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Filmoteka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Strona główna <span class="sr-only"></span></a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                <a class="nav-link" href="/admin">Admin <span class="sr-only"></span></a>
            </li>
        </ul>
        <form sec:authorize="isAuthenticated()" class="form-inline" action="/" >
            <a class="btn btn-light action-button" role="button" href="/logout">Wyloguj</a>
        </form>
    </div>
</nav>
<main>
    <form>


            <!--/*@thymesVar id="films" type="java.util.List<com.example.project1.accessToData.model.Film"*/-->
            <div class="card-title" th:each="film : ${films}">
                <div style="text-align: center;"><h1 class="panel-title" th:text="${film.getTitle()}"/></div>
                <div style="text-align: center;"><h6>Data produkcji</h6><h6 th:text="${film.getProductionYear()}"/></div>
                <div style="text-align: center;">
                    <h3>Opis</h3>
                    <div class="panel-body">
                        <p th:text="${film.getDescryption()}"/>
                    </div>
                </div>
                <div style="text-align: center">
                <a class="btn btn-light action-button" role="button" th:href="${film.getLink()}">Oglądaj</a></div>


</div>
    </form>
</main>

</body>
</html>