<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- respons -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">

    <title>Project: films</title>

</head>
<body>
<main>
    <h1 th:if="${message != null}" th:text ="${message}"></h1>
    <!--/*@thymesVar id="project" type="com.example.project1.accessToData.FilmWrite"*/-->
    <form action="#" method="post" th:action="@{/projects}" th:object="${project}">
    <fieldset>
        <legend>Dodaj film</legend>
        <label>Tytuł
            <input type="text" th:field="*{title}"/>
        </label>
        <label>Rok produkcji
            <input type="date" th:field="*{productionYear}" />
        </label>
        <label>Opis
            <input type="text" th:field="*{descryption}"/>
        </label>
        <label>Linki
            <input type="text" th:field="*{link}"/>
        </label>
    </fieldset>
        <p>
            <button type="submit">Dodaj</button>
            <button type="reset">Wyczyść</button>
        </p>
    </form>
</main>




</body>
</html>